<h1 style="text-align: center">
  Welcome to {{title}}!
</h1>
<h3>First way in service with Json file</h3>
<h3 style="text-align: center">ALL employeesInfo here</h3>
<hr>
<div *ngFor="let emp of employeesInfo" style="text-align: center">
  <p><b>Emp ID</b>  {{emp.id}}<b>  First Name is :</b> {{emp.firstName}} <b>Last Name is :</b> {{emp.lastName}}</p>
</div>
<hr>
<h3>second way in service with modal class</h3>
<div *ngFor="let emp of employeesInfoModal" style="text-align: center">
  <p><b>Emp ID</b>  {{emp.id}}<b>  First Name is :</b> {{emp.firstName}} <b>Last Name is :</b> {{emp.lastName}}</p>
</div>
<hr>